<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="uri" default="radio://0/80/250K/E7E7E7E7E7" />

    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    </include>

    <group ns="crazyflie">

        <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
            <param name="uri" value="$(arg uri)" />
            <param name="tf_prefix" value="crazyflie" />
            <rosparam>
                genericLogTopics: ["log_state_estimate_rpy", "log_state_estimate_quat"]
                genericLogTopicFrequencies: [30, 30]
                genericLogTopic_log_state_estimate_rpy_Variables: ["stabilizer.roll", "stabilizer.pitch", "stabilizer.yaw"]
                genericLogTopic_log_state_estimate_quat_Variables: ["stabilizer.qx", "stabilizer.qy", "stabilizer.qz", "stabilizer.qw"]
            </rosparam>
        </node>


    </group>
</launch>

